<% layout('layouts/boilerplate.ejs') -%>

<body>
  <div class="form-container" >
  <!-- Header for the edit listing page -->
  <h3>Edit Listing</h3>

  <!-- Form for editing an existing listing, sends a PUT request to update the listing -->
  <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" class="create-form">
    <!-- Input for the listing title -->
    <fieldset>
      <legend>Title</legend>
    <input
      name="listing[title]"
      type="text"
      value="<%= listing.title %>"
      placeholder="Enter title"
      required
    />
    </fieldset>

    <!-- Textarea for the listing description -->
    <fieldset>
      <legend>Description</legend>
    <textarea
      name="listing[description]"
      cols="30"
      rows="5"
      placeholder="Write description"
      required
    >
<%= listing.description %></textarea
    >
    </fieldset>

    <!-- Input for the listing image URL -->
    <fieldset>
      <legend>Image</legend>
    <input
      name="listing[image][url]"
      type="text"
      value="<%= listing.image.url %>"
      placeholder="Enter image URL/LINK"
      required
    />
    </fieldset>

    <!-- Input for the listing price -->
    <fieldset>
      <legend>Price</legend>
    <input
      name="listing[price]"
      type="number"
      value="<%= listing.price %>"
      placeholder="Enter price"
      required
    />
    </fieldset>

    <!-- Input for the country of the listing -->
    <fieldset>
      <legend>Country</legend>
    <input
      name="listing[country]"
      type="text"
      value="<%= listing.country %>"
      placeholder="Country name"
      required
    />
    </fieldset>

    <!-- Input for the location of the listing -->
    <fieldset>
      <legend>Location</legend>
    <input
      name="listing[location]"
      type="text"
      value="<%= listing.location %>"
      placeholder="Enter location"
      required
    />
    </fieldset>
    <!-- Submit button to update the listing -->
    <button type="submit">Update</button>
  </form>
  </div>
</body>
