<% layout('layouts/boilerplate.ejs') -%>

<body>
  <h1>List of Destinations</h1>

  <div class="destination-cards">
    <% for(let destination of allListOfDestination) { %>
    <div class="card" style="width: 18rem">
      <img
        src="<%= destination.image.url %>"
        class="card-img-top"
        alt="<%= destination.title %>"
      />
      <div class="card-body">
        <h5 class="card-title"><%= destination.title %></h5>
        <p class="card-text">
          <%= destination.description %>
          <br />
          <strong>
            &#8377;<%= destination.price.toLocaleString('en-IN') %> 
          </strong>/ night
        </p>
        <a href="/listings/<%= destination._id %>" class="btn"
          >View Details</a
        >
      </div>
    </div>
    <% } %>
  </div>
</body>
